[submodule "frontend"]
	path = frontend
	url = https://github.com/Touutae-lab/FastGraduation-API.git
[submodule "app"]
	path = app
	url = https://github.com/Touutae-lab/FastGraduation-DockerCompose.git
